/* .auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-box h2 {
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.auth-box button {
  width: 100%;
  padding: 8px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-text {
  text-align: center;
  margin-top: 10px;
}

.auth-box select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}



.dashboard-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-subtitle {
  margin: 15px 0 30px;
  color: #555;
}

.logout-btn {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #b52a37;
} */
